.boton-finalizar-container {
  margin-top: 20px;
}

.btn-finalizar {
  padding: 12px 25px;
  font-size: 1.2rem;
  border: none;
  border-radius: 12px;
  background: #ff6b81;
  color: white;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
}

.btn-finalizar:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px #ff6b81;
}
